.createFirst {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    

    .secondsection {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}